.md-padding {
  padding: 20px;
}

.row-wrap {
  display: flex;
  flex-wrap: wrap;
}

.row-gap-center-start {
  margin-top: 10px;
  justify-content: center;
  align-items: flex-start;
}

.info-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  color: #333;
}

.year-number {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 50%;
}

.score-details {
  width: 40%
}

.scorecard-container {
  width: 100%;
  margin: 0 auto; /* This centers the div horizontally */
  box-sizing: border-box;
}

.detail-item {
  margin-bottom: 10px;
}

.game-type {
  text-align: center;
}

.detail-label {
  font-weight: bold;
  color: #555;
  display: inline-block;
  width: 100px;
}

.year-link {
  display: block;
  text-decoration: none;
  justify-content: center;
  color: inherit;
  width: 100%;
  height: 100%;
}

h1 {
  color: var(--gray-900);
  font-weight: 400;
  font-size: xx-large;
  line-height: 100%;
  letter-spacing: -0.1rem;
  margin: 0;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: center;
}

.game-date {
  text-align: center;
  font-weight: 500;
  color: rgb(192, 188, 188);
}

.team-logo {
  max-width: 50px;
  height: 50px;
  z-index: 1;
  border-radius: 10px;
}

.at-col {
  margin: 20px;
}

.score {
  font-size: 40px;
  font-weight: 800;
  margin-top: 20px;
}

.card-row {
  margin-bottom: 10px;
}

.scoring-play-row {
  width: 100%; /* Ensure the row takes up full width */
  display: flex; /* Use flexbox to manage layout */
  justify-content: space-between; /* Distribute items evenly across the row */
  margin-bottom: 10px; /* Space between rows */
}

.game-table {
  box-shadow: none;
}

.team-table-logo {
  width: 30px;
  margin-left: -8px;
  margin-top: 8px;
}

/* Adjust padding for table cells */
.mat-cell, .mat-header-cell {
  padding-top: 10px; /* Adjust as needed */
  padding-bottom: 10px; /* Adjust as needed */
}

.scoreboard-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;

  th, td {
    padding: 10px;
  }

  tr {
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f4f4f4;
  }
  
  .team-name {
    text-align: left;
    padding-left: 10px;
  }
}

.year-number {
  display: flex;
  justify-content: center;
  align-items: center;
}

.at-col h1 {
  margin: 0;
  font-size: 24px;
}

/* Media query for responsive design */
@media (max-width: 768px) {
  .info-container {
    flex-direction: column;
  }
  
  .score-details {
    width: 50%
  }
  .year-number {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
}

.table-logo {
  height: 30px;
}

.mat-icon {
  width: 20px;
  height: 17px;
}