<main class="main">
  <div fxLayout="column" class="content">
    <div class="top-bar-nav" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="column">
        <!-- Title div -->
        <div class="nav">
          <h1 class="nav-title">easymlb</h1>
          <p class="nav-info">
            statistics updated every day
          </p>
        </div>
      </div>
    </div>

    <!-- Year View -->
    <div class="card-years" *ngIf="!isYearComponentRoute()">
      <div class="md-padding row-wrap row-gap-center-start">
        <div class="card-row" *ngFor="let year of userCards">
          <a [routerLink]="['/', year]" class="year-link">
            <div class="year-number">
              <h1>
                {{ year }}
              </h1>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
<router-outlet />