.md-padding {
  padding: 20px;
}

.row-wrap {
  display: flex;
  flex-wrap: wrap;
}

.row-gap-center-start {
  justify-content: center;
  align-items: flex-start;
}

.card-row {
  align-items: center;
  width: 200px;
  height: 150px;
  margin: 20px;
  border-radius: 15px;
  border: 1px solid darkgrey;
  background-color: lightgray;
}
