.md-padding {
  padding: 20px;
}

.row-wrap {
  display: flex;
  flex-wrap: wrap;
}

.row-gap-center-start {
  justify-content: center;
  align-items: flex-start;
}

.card-row {
  align-items: center;
  width: 200px;
  height: 150px;
  margin: 20px;
  border-radius: 15px;
  border: 1px solid darkgrey;
  background-color: rgba(211, 211, 211, 0.5);
}

.year-number {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.year-link {
  display: block;
  text-decoration: none;
  justify-content: center;
  color: inherit;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

h1 {
  font-weight: 400;
  font-size: xx-large;
  line-height: 100%;
  letter-spacing: -0.1rem;
  margin: 0;
  font-family:
    "Inter Tight",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  text-align: center;
}

.card-row {
  position: relative;
  text-align: center;
  padding: 20px;
  overflow: hidden;
}

.team-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  max-width: 130px; /* Adjusted max-width to make the image smaller */
  max-height: 130px; /* Adjusted max-height to make the image smaller */
  z-index: 1;
  border-radius: 10px; /* Optional: Adds a slight border radius for style */
}

.year-link {
  position: relative;
  z-index: 2;
  color: white;
  font-size: 16px; /* Decreased font size slightly */
  font-weight: bold; /* Optionally increase font weight */
}