<div layout="row" class="year-content">
    <button style="margin-left: 20px" mat-button (click)="backToYear()">
      <mat-icon> arrow_back </mat-icon>
      <h1>{{ year }} {{ team }}</h1>
    </button>
  
    <div class="md-padding row-wrap row-gap-center-start">
      <div class="card-row" *ngFor="let game of userGames">
        <a class="year-link">
          <a
          [routerLink]="['/', year, team_link, game['game_id']]"
            class="year-link"
          >
          <div>
            {{ game['game_date'].split("T")[0] }}
          </div>
            <div layout="row" class="year-number">
              <div layout="column">
                <div>
                  {{ game['away_team'] }}
                </div>
                <div>
                  <h1>
                    {{ game['away_score'] }}
                  </h1>
                </div>
              </div>
              
              <div layout="column">
                <div>
                  {{ game['home_team'] }}
                </div>
                <div>
                  <h1>
                    {{ game['home_score'] }}
                  </h1>
                </div>
              </div>
            </div>
          </a>
        </a>
      </div>
    </div>
    </div>